* {
    margin: 0%;
    padding: 0%;
}




// Mixins
@mixin buttons {
    width: 80px;
    height: 200px;
    border-radius: 20px;
    border-bottom: 5px;
    --bs-btn-color: #fff;
    --bs-btn-bg: red;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    font-family: $font-family;
}

// Variables

$font-family: impact;

// Extend

.h1 {
    color: rgb(98, 0, 255);
    font-family: $font-family;
    font-size: 80px;
    text-align: center;
    background-image: url(https://media.istockphoto.com/photos/tropical-palm-leaves-on-yellow-background-flat-lay-top-view-picture-id970718670?k=6&m=970718670&s=170667a&w=0&h=052uheCxjQ5Yn4XvA3H-eQ1VzcK7pGmXxdNPWXAQ2Fw=);
    height: 100px;
    width: auto;
    justify-content: center;
    animation-name: pulse;
    animation-duration: 3s;
    animation-delay: 2s;
}

.etiqueta {
    text-align: center;
    font-family: $font-family;
    font-size: 50px;
    margin: 5px;
}

@import "logo";

@import "header";

@import "footer";




// Nesting Index

body {
    background-image: url(../imagenes/ian-dooley-TT-ROxWj9nA-unsplash\ \(1\).jpg);
    background-color: yellow;


    div#grilla {
        display: grid;
        grid-template-areas: "      header      header"
            "         productos        mapa"
            "     footer      footer";
        grid-template-rows: 200px 1000px 80px;
        grid-template-columns: auto 250px;
        margin: 0;
        padding: 10px;

        header {
            grid-area: header;
        }


        footer {
            grid-area: footer;

        }

        nav {
            grid-area: nav;
        }

        aside {
            grid-area: mapa;
        }

        header {
            grid-area: header;

        }

        section {
            &.productos {
                grid-area: productos;
            }

            div {
                &.box {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                }
            }

            div {
                img {
                    height: 400px;
                    padding: 50px;
                }
            }

        }



        aside {
            iframe {
                &.caja {
                    /*box-modeling*/
                    width: 250px;
                    height: 100px;

                    margin: 0px;
                    padding: 0%;

                    /*tipografías*/
                    color: black;
                    font-weight: bold;
                    text-align: center;
                    font-size: large;
                    font-family: $font-family;
                    text-align: center;

                }

                &.c4 {
                    order: 4;
                    height: 580px;
                    width: 240px;
                    padding: 5px;

                }
            }
        }



    }
}

/*Mediaqueries*/
@media (max-width: 990px) {

    body div header nav {
        z-index: 1;
    }

    body {

        background-color: yellow;


        div#grilla {
            display: grid;
            grid-template-areas: "     header      header"
                "      productos        mapa"
                "     footer      footer";
            grid-template-rows: 200px auto 80px;
            grid-template-columns: auto 250px;
            margin: 0;
            padding: 10px;

            header {
                grid-area: header;

                header {
                    a {
                        img {
                            height: 80px;
                            width: 80px;
                            margin: 10px;
                        }
                    }
                }

                section {
                    div {
                        h1 {
                            font-size: 70px;
                        }
                    }
                }
            }


            #grilla footer {
                grid-area: footer;
                background-color: aqua;
            }

            nav {
                grid-area: nav;
            }

            section {
                grid-area: productos;
            }

            aside {
                grid-area: mapa;
            }

            header {
                grid-area: header;


                section {

                    div {
                        h1 {
                            color: rgb(98, 0, 255);
                            font-family: $font-family;
                            font-size: 80px;
                            text-align: center;
                            background-image: url(https://media.istockphoto.com/photos/tropical-palm-leaves-on-yellow-background-flat-lay-top-view-picture-id970718670?k=6&m=970718670&s=170667a&w=0&h=052uheCxjQ5Yn4XvA3H-eQ1VzcK7pGmXxdNPWXAQ2Fw=);
                            height: 100px;
                            width: auto;
                            justify-content: center;
                            animation-name: pulse;
                            animation-duration: 3s;
                            animation-delay: 2s;
                        }
                    }
                }

                nav {
                    &.h3 {
                        background-image: linear-gradient(113.3deg, rgba(228, 241, 93, 0.622) 6.9%, rgb(145, 40, 8) 75%);
                    }

                    div {
                        form {
                            button {
                                background-color: white;
                            }
                        }
                    }
                }
            }

            section {
                &.productos {
                    grid-area: productos;
                }

                div {
                    &.box {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                    }
                }

                div {
                    img {
                        height: 300px;
                        padding: 10px;

                        &.img3 {
                            display: none;
                        }
                    }
                }

            }



            aside {
                iframe {
                    &.caja {
                        /*box-modeling*/
                        width: 250px;
                        height: 100px;

                        margin: 0px;
                        padding: 0%;

                        /*tipografías*/
                        color: black;
                        font-weight: bold;
                        text-align: center;
                        font-size: large;
                        font-family: $font-family;
                        text-align: center;

                    }

                    &.c4 {
                        order: 4;
                        height: 580px;
                        width: 240px;
                        padding: 5px;

                    }
                }
            }


            footer {
                &.flex-container {
                    border: 1px solid black;
                    background: #ccc;
                    padding: 0px;
                    margin: 0px;
                    align-items: flex-start;
                    text-align: center;




                    /*propiedades de la caja*/
                    /*activamos flexbox*/
                    display: flex;
                    /*Define cual es el eje principal, si fila o columna*/
                    flex-direction: row;
                    /*defino el desborde*/
                    flex-wrap: wrap;
                    /*alineamos en el eje principal*/
                    justify-content: center;
                    /*alineamos en el eje secundario*/
                    align-items: center;
                    /*Espacio entre líneas*/
                    /*align-content: space-around;*/


                    div.caja {
                        /*box-modeling*/
                        width: 120px;
                        height: 80px;

                        margin: 0px;
                        padding: 0%;

                        /*tipografías*/
                        color: black;
                        font-weight: bold;
                        text-align: center;
                        font-size: large;
                        font-family: $font-family;
                        text-align: center;



                        &.c1 {

                            order: 1;
                            margin: 0px;
                            padding: 0%;

                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }

                        &.c2 {
                            order: 2;
                            margin: 5px;
                            align-items: center;

                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        &.c5 {
                            order: 3;
                            flex-grow: 3;
                            font-family: $font-family;
                            font-size: large;
                            padding: 10px;
                        }
                    }

                    nav.caja {
                        &.c3 {
                            order: 3;
                            align-items: center;
                            flex-grow: 3;
                        }
                    }
                }
            }
        }
    }



}













// Nesting Nosotros

body {
    background-image: url(../imagenes/ian-dooley-TT-ROxWj9nA-unsplash\ \(1\).jpg);
    background-color: yellow;


    div#grilla-nosotros {
        display: grid;
        grid-template-areas:
            "header         "
            "nosotros       "
            "footer         "
        ;
        grid-template-rows: 200px auto 100px;
        grid-template-columns: 100%;
        margin: 0;
        padding: 0;

        #grilla header {
            grid-area: header;
        }


        #grilla footer {
            grid-area: footer;
            background-color: aqua;
        }

        nav {
            grid-area: nav;
        }

        section#nosotros {
            grid-area: nosotros;
            background-color: coral;
            justify-items: center;
            background: none;

            div.card.mb-3 {
                background: none;

                img.card-img-top {
                    height: auto;
                    width: auto;
                }

                div.card-body {
                    background-color: pink;
                }
            }

            div.card {
                background: none;

                img.card-img-bottom {
                    height: auto;
                    width: auto;
                }

                div.card-body {
                    background-color: pink;
                }
            }


        }





    }
}


// mediaqueries nosotros

@media (max-width: 990px) {

    body {
        background-image: url(../imagenes/ian-dooley-TT-ROxWj9nA-unsplash\ \(1\).jpg);
        background-color: yellow;


        div#grilla-nosotros {
            display: grid;
            grid-template-areas:
                "header         "
                "nosotros       "
                "footer         "
            ;
            grid-template-rows: 200px auto 100px;
            grid-template-columns: 100%;
            margin: 0;
            padding: 0;

            header {
                grid-area: header;

                header {
                    a {
                        img {
                            height: 80px;
                            width: 80px;
                            margin: 10px;
                        }
                    }
                }

                section {
                    div {
                        h1 {
                            font-size: 70px;
                        }
                    }
                }
            }

            section {
                grid-area: productos;
            }


            footer {
                grid-area: footer;

            }





        }



    }
}






// nesting contacto

form {
    div {
        nav {
            display: flex;
            flex-direction: row;
            list-style: none;


            &.datos {


                li {


                    input {
                        background-color: lightblue;
                        margin: 20px;
                        padding: 10px;
                        width: auto;
                    }

                }

            }
        }

        textarea {
            display: flex;
            background-color: lightgoldenrodyellow;
            width: 400px;

        }

        nav {
            &.env-rest {
                display: flex;
                flex-direction: row;

                input {
                    width: auto;
                    height: 50px;
                    margin: 50px;
                    padding: 2px;

                }
            }
        }
    }
}

// nesting catalogo
body {
    div#grilla-catalogo {
        display: grid;
        grid-template-areas:
            "header      "
            "productos    "
            "footer   ";
        grid-template-rows: 200px auto 80px;
        grid-template-columns: auto;
        margin: 0;
        padding: 10px;

        header {
            grid-area: header;
        }

        section {
            grid-area: productos;
        }


        footer {
            grid-area: footer;

        }


        section {
            &.productos {
                div {
                    &.subtitulos {
                        h6 {
                            font-family: $font-family;
                            font-size: 50px;
                        }

                    }
                }
            }
        }


    }

}

@media (max-width: 990px) {
    body {
        div#grilla-catalogo {
            display: grid;
            grid-template-areas:
                "header      "
                "productos    "
                "footer   ";
            grid-template-rows: 200px auto 80px;
            grid-template-columns: auto;
            margin: 0;
            padding: 10px;

            header {
                grid-area: header;

                header {
                    a {
                        img {
                            height: 80px;
                            width: 80px;
                            margin: 10px;
                        }
                    }
                }

                section {
                    div {
                        h1 {
                            font-size: 70px;
                        }
                    }
                }
            }

            section {
                grid-area: productos;
            }


            footer {
                grid-area: footer;

            }




            section {
                &.productos {
                    div {
                        &.subtitulos {
                            h6 {
                                font-family: $font-family;
                                font-size: 50px;
                            }

                            div {
                                img {
                                    &.img3 {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }

    }
}


// nesting categorias

body {
    div#grilla-categoria {
        section {
            div {
                &.box {
                    div {
                        h6 {
                            &.hombre {
                                background-color: blue;
                                @extend .etiqueta
                            }

                            &.mujer {
                                background-color: pink;
                                @extend .etiqueta
                            }

                            &.niños {
                                background-color: yellow;
                                @extend .etiqueta
                            }
                        }
                    }
                }

                &.box2 {
                    display: none;
                }

            }
        }
    }
}


@media (max-width: 990px) {
    body {
        div#grilla-categoria {
            display: grid;
            grid-template-areas:
                "header      "
                "productos    "
                "footer   ";
            grid-template-rows: 200px auto 80px;
            grid-template-columns: auto;
            margin: 0;
            padding: 10px;

            header {
                grid-area: header;

                header {
                    a {
                        img {
                            height: 80px;
                            width: 80px;
                            margin: 10px;
                        }
                    }
                }

                section {
                    div {
                        h1 {
                            font-size: 70px;
                        }
                    }
                }
            }

            section {
                grid-area: productos;
            }


            footer {
                grid-area: footer;

            }


            section {
                div {
                    &.box {
                        display: none;
                    }

                    &.box2 {

                        display: block;

                        div {

                            h6 {
                                &.hombre2 {
                                    background-color: blue;
                                    text-align: center;
                                    font-family: $font-family;
                                    font-size: 50px;
                                    margin: 5px;


                                }

                                &.mujer2 {
                                    background-color: pink;
                                    text-align: center;
                                    font-family: $font-family;
                                    font-size: 50px;
                                    margin: 5px;
                                }

                                &.niños2 {
                                    background-color: yellow;
                                    text-align: center;
                                    font-family: $font-family;
                                    font-size: 50px;
                                    margin: 5px;
                                }

                            }

                            a {
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}